<div>
	<h4 class="header">Gerenciamento de Jogos</h4>
	<div class="divider"></div>
	<div class="card">
		<div class="card-content">
			<div class="row" ng-show="!$ctrl.showForm">
				<div class="col s12">
					<div class="right">             
						<button ng-click="$ctrl.showForm = true" class="btn green waves-effect waves-light " type="submit" name="action">Criar
							<i class="mdi-content-add right"></i>
						</button>
						<button class="btn red waves-effect waves-light " type="submit" name="action">
							Apagar
							<i class="mdi-action-highlight-remove right"></i>
						</button>
						<!-- <a ui-sref="home.importJogos" class="btn cyan waves-effect waves-light " type="submit" name="action">
							Importa
							<i class="mdi-file-file-upload right"></i>
						</a> -->
					</div>
				</div>
			</div>
			<form ng-show="$ctrl.showForm">
				<h4 class="header2">Dados Do Jogo</h4>
				<div class="row">
					<div class="input-field col s12 l2">
						<input ng-model="$ctrl.jogo.casa" id="time-casa" type="text" class="validate">
						<label for="time-casa" class="">Time Casa</label>
					</div>
					<div class="input-field col s12 l2">
						<input ng-model="$ctrl.jogo.fora" id="time-fora" type="text" class="validate">
						<label for="time-fora" class="">Time Fora</label>
					</div>
					<div class="input-field col s12 l2">
						<input ng-model="$ctrl.jogo.hora" id="hora" type="text" class="validate">
						<label for="hora" class="">Hora</label>
					</div>
					<div class="input-field col s12 l3">
						<input ng-model="$ctrl.jogo.data" type="date" class="datapiker" placeholder="Data">
					</div>
					<div class="input-field col s12 l3">
					<select ng-model="$ctrl.jogo.camp" 
   						 	ng-options="camp as camp.desc for camp in $ctrl.campeonatos" 
    						class="browser-default">
    					<option value="" disabled selected>Campeonato</option>				
					</select>
					</div>
				</div>
				<h4 class="header2">BETS/ODDS</h4>
				<div class="row">
					<div class="input-field col s6 l2">
						<input ng-model="$ctrl.jogo.odds.casa" id="casa" type="text" class="validate">
						<label for="casa" class="">CASA</label>
					</div>
					<div class="input-field col s6 l2">
						<input ng-model="$ctrl.jogo.odds.emp" id="emp" type="text" class="validate">
						<label for="emp" class="">EMP</label>
					</div>
					<div class="input-field col s6 l2">
						<input ng-model="$ctrl.jogo.odds.fora" id="fora" type="text" class="validate">
						<label for="fora" class="">FORA</label>
					</div>
					<div class="input-field col s6 l2">
						<input ng-model="$ctrl.jogo.odds.maGol" id="+gol" type="text" class="validate">
						<label for="+gol" class="">+GOL</label>
					</div>
					<div class="input-field col s6 l2">
						<input ng-model="$ctrl.jogo.odds.meGol" id="-gol" type="text" class="validate">
						<label for="-gol" class="">-GOL</label>
					</div>
					<div class="input-field col s6 l2">
						<input ng-model="$ctrl.jogo.odds.gmc" id="" type="text" class="validate">
						<label for="" class="">GMC</label>
					</div>
					<div class="input-field col s6 l2">
						<input ng-model="$ctrl.jogo.odds.gmf" id="" type="text" class="validate">
						<label for="" class="">GMF</label>
					</div>
					<div class="input-field col s6 l2">
						<input ng-model="$ctrl.jogo.odds.dpc" id="" type="text" class="validate">
						<label for="" class="">DPC</label>
					</div>
					<div class="input-field col s6 l2">
						<input ng-model="$ctrl.jogo.odds.dpf" id="" type="text" class="validate">
						<label for="" class="">DPF</label>
					</div>
					<div class="input-field col s6 l2">
						<input ng-model="$ctrl.jogo.odds.cof" id="" type="text" class="validate">
						<label for="" class="">COF</label>
					</div>
					<div class="input-field col s6 l2">
						<input ng-model="$ctrl.jogo.odds.ambm" id="" type="text" class="validate">
						<label for="" class="">AMBM</label>
					</div>
					<div class="input-field col s6 l2">
						<input ng-model="$ctrl.jogo.odds.ambn" id="" type="text" class="validate">
						<label for="" class="">AMBN</label>
					</div>
					<div class="col s12">
						<div class="right">             
							<button ng-click="$ctrl.addJogo()" class="btn cyan waves-effect waves-light ">
								<i class="mdi-content-save"></i>
							</button>
							<button ng-click="addCancel()" class="btn red waves-effect waves-light ">
								<i class="mdi-content-clear"></i>
							</button>
						</div>
					</div>
				</div>
			</form>
			<br>
			<div class="divider"></div>
			<br>
			<h4 class="header2">Tabela de Jogos</h4>
			<div class="row">
				<div class="input-field col s6">
					<input ng-model="$ctrl.filter" type="text" placeholder="Pesquisar...">
				</div>
			</div>
			<table class="responsive-table bordered">
				<thead>
					<tr>
						<th>ID</th>
						<th>Jogo</th>
						<th>Data</th>
						<th>Hora</th>
						<th>Casa</th>
						<th>Emp</th>
						<th>Fora</th>
						<th>+Gol</th>
						<th>-Gol</th>
						<th>GMC</th>
						<th>GMF</th>
						<th>Opções</th>
					</tr>
				</thead>

				<tbody>
					<tr ng-repeat="jogo in $ctrl.jogos | filter: $ctrl.filter">
						<td>{{$index}}</td>
						<td>{{jogo.casa}} x {{jogo.fora}}</td>
						<td>{{jogo.data | date:'dd-MM-yy'}}</td>
						<td>{{jogo.hora}}</td>
						<td>{{jogo.odds.casa}}</td>
						<td>{{jogo.odds.emp}}</td>
						<td>{{jogo.odds.fora}}</td>
						<td>{{jogo.odds.maGol}}</td>
						<td>{{jogo.odds.meGol}}</td>
						<td>{{jogo.odds.gmc}}</td>
						<td>{{jogo.odds.gmf}}</td>
						<td>
							<a ng-click="$ctrl.view(jogo)" class="btn-floating waves-effect waves-light blue"><i class="mdi-action-visibility"></i></a>
							<a ng-click="$ctrl.edit(jogo)" class="btn-floating waves-effect waves-light verde"><i class="mdi-editor-border-color"></i></a>
							<a ng-click="$ctrl.delete(jogo._id)" class="btn-floating waves-effect waves-light red"><i class="mdi-action-delete"></i></a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<div id="modal" class="modal">
	<div class="modal-content">
		<a href="#" class="waves-effect waves-green btn-flat modal-action modal-close right"><i class="mdi-navigation-cancel"></i></a>
		<h4>Detalhes do jogo</h4>
		<p>{{$ctrl.jogoV.casa}} x {{$ctrl.jogoV.fora}}</p>
		<p>Data/Hora: {{$ctrl.jogoV.data | date:'dd-MM-YY'}} - {{$ctrl.jogoV.hora}}</p>
		<p>Código: {{$ctrl.jogoV._id}}</p>
		<table class="table table-striped table-hover"> 
			<thead> 
				<tr> 
					<td><strong>ODD</strong></td> 
					<td><strong>Cotação</strong></td> 
				</tr> 
			</thead> 
			<tbody> 
				<tr> 
					<td>
						<strong>Casa</strong>
					</td> 
					<td>{{$ctrl.jogoV.odds.bCasa}}</td> 
				</tr>
				<tr>
					<th><strong>Empate</strong></th>
					<td>{{$ctrl.jogoV.odds.emp}}</th>
					</tr>
					<tr>
						<th><strong>Fora</strong></th>
						<td>{{$ctrl.jogoV.odds.bFora}}</th>
						</tr>
						<tr>
							<th><strong>+Gol</strong></th>
							<td>{{$ctrl.jogoV.odds.maGol}}</th>
							</tr>
							<tr>
								<th><strong>-Gol</strong></th>
								<td>{{$ctrl.jogoV.odds.meGol}}</th>
								</tr>
								<tr>
									<th><strong>GMC</strong></th>
									<td>{{$ctrl.jogoV.odds.gmc}}</th>
									</tr>
									<tr>
										<th><strong>GMF</strong></th>
										<td>{{$ctrl.jogoV.odds.gmf}}</th>
										</tr>
										<tr>
											<th><strong>DPC</strong></th>
											<td>{{$ctrl.jogoV.odds.dpc}}</th>
											</tr>
											<tr>
												<th><strong>DPF</strong></th>
												<td>{{$ctrl.jogoV.odds.dpf}}</th>
												</tr>
												<tr>
													<th><strong>ABMA</strong></th>
													<td>{{$ctrl.jogoV.odds.ambm}}</th>
													</tr>
													<tr>
														<th><strong>ABMN</strong></th>
														<td>{{$ctrl.jogoV.odds.ambn}}</th>
														</tr>
													</tbody> 
												</table>
											</div>
											<div class="modal-footer">
												<a href="#" class="waves-effect waves-green btn-flat modal-action modal-close right"><i class="mdi-navigation-cancel"></i></a>
											</div>
										</div>
