<div>
	<div ng-controller="operadorCtrl">
	<h4 class="header">Mapa de Apostas</h4>
	<div class="divider"></div>
	<div class="card">
		<div class="card-content">
			<br>
			<h4 class="header2">Tabela de Apostas</h4>
			<table class="responsive-table bordered">
				<thead>
					<tr>
						<th>ID</th>
						<th>Patida</th>
						<th>Valor Apostado</th>
						<th>Opções</th>
					</tr>
				</thead>

				<tbody>
					<tr>
						<td>1</td>
						<td>PONTE PRETA X CORINTHIANS</td>
						<td>R$ 150,00</td>
						<td><a class="btn waves-effect waves-light verde">Detalhes</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>