<div>
	<div class="row">
		<div class="col l5 s12">
			<div class="card-panel">
				<h4 class="header2">CAIXA ADMINISTRADOR</h4>
				<table class="table table-striped table-hover">
					<thead>
						<tr>
							<td><strong>Informção</strong></td>
							<td><strong>Valor R$</strong></td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><strong>Entradas</strong></td>
							<td>R$ 100,00</td>
						</tr>
						<tr>
							<td><strong>Entradas em Aberto</strong></td>
							<td>R$ 100,00</td>
						</tr>
						<tr>
							<td><strong>Saidas</strong></td>
							<td>R$ 100,00</td>
						</tr>
						<tr>
							<td><strong>Lançamentos</strong></td>
							<td>R$ 100,00</td>
						</tr>
						<tr>
							<td><strong>Comissões</strong></td>
							<td>R$ 100,00</td>
						</tr>
						<tr>
							<td><strong>Total</strong></td>
							<td>R$ 100,00</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="col l7 s12">
			<div class="card-panel">
				<form ng-show="$ctrl.showForm()">
					<div class="row">
						<div class="input-field col s12">
							<input id="operador" type="text">
							<label for="operador"></label>
						</div>
							<div class="input-field col s12">
							<input id="operador" type="text">
							<label for="operador"></label>
						</div>
							<div class="input-field col s12">
							<input id="operador" type="text">
							<label for="operador"></label>
						</div>
							<div class="input-field col s12">
							<input id="operador" type="text">
							<label for="operador"></label>
						</div>
					</div>
				</form>
				<h4 class="header2">LANÇAMENTOS</h4>
				<button ng-click="showForm = true" class="btn right green waves-effect waves-light ">LANÇAMENTO
					<i class="mdi-content-add right"></i>
				</button>
				<br>
				<table class="responsive-table">
					<thead>
						<tr>
							<th>Operador</th>
							<th>Data/Hora</th>
							<th>Tipo</th>
							<th>Valor R$</th>
						</tr>
					</thead>
				
					<tbody>
						<tr>
							<td>Admin</td>
							<td>12/09/2016-12:00</td>
							<td>Déito</td>
							<td>R$ 100,00</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>