<div class="login container row">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="col s12">
    <div id="card-login" class="card z-depth-4 grey darken-4">
      <div class="card-content">
        <div class="card-cep-header center">
         <img src="/img/betgold.png" style="width: 227px" class="">
         <p class="center login-form-text white-text">DASHBOARD ADMINISTRATIVO BETGOLD</p>
       </div>
       <div class="row">
        <form ng-submit="$ctrl.login()" name="form" class="col s12">
          <div class="row">
            <div class="input-field col s12">
              <i class="mdi-action-account-circle prefix white-text"></i>
              <input class="white-text" ng-model="$ctrl.credentials.username" id="icon_prefix" type="text" placeholder="Login" class="validate">
            </div>
            <div class="input-field col s12">
              <i class="mdi-action-lock prefix white-text"></i>
              <input class="white-text" ng-model="$ctrl.credentials.password" id="senha" type="password" placeholder="Senha" class="validate">
            </div>
          </div>
          <div class="input-field center">
          <button ng-click="$ctrl.login()"  ng-if="!$ctrl.loging" class="btn waves-effect waves-light verde" type="submit">Entrar<i class="mdi-action-lock-open
 right white-text"></i>
            </button>
          </div>
        </form>
      </div>
      <div class="center">
        <div ng-if="$ctrl.loging" class="preloader-wrapper big active">
          <div class="spinner-layer spinner-blue-only">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div><div class="gap-patch">
            <div class="circle"></div>
          </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
    <div class="input-field">
      <a href="">Recuperar senha?</a>
    </div>
  </div>
</div>
</div>
</div>
</div>

<style>
  .card{
    margin: auto;
    width: 320px;
  }
  body{
    height: 100%;
    background-image: url("./img/1.jpg");
    background-position: center;
    background-size: slength;
    background-repeat: no-repeat;  
  }
</style>
